#header {
  position: relative;
}

#header img[alt="PreIcon"] {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 20;
  transition: filter 0.5s ease;
}

#header img[alt="PreIcon"].clicked {
  filter: brightness(0.7);
}

#header img[alt="Banner"] {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
}

#main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#main-content img[alt="Title"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50%;
  width: 100%;
}

#footer {
  /* Footer content styles */
}

/*시작버튼 css*/
#start-button {
  background: none;
  border: none;
  padding-top: 10%;
  margin-right: 5%;
  cursor: pointer;
}

#start-button.clicked img {
  filter: brightness(0.7);
}

#yapapa-cat{
  border: 5px solid black;
  margin-top: 5%;
  position: relative;
  display: inline-block;
}

#speech-balloon{
  position: absolute;
  margin-top: -40%;
  transform: translate(80%, -30%);
  z-index: 10;
}

#enjoy-count{
  display: block;
  opacity: 0.7;
  margin-left: auto;
  margin-right: auto;
  margin-top: -75%;
}

#hr-line{
  display: block;
  opacity: 0.3;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#share-count{
  display: block;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

